@media only screen and (max-width:600px){
    .hero_section{
        position: relative;
        background-image: url(images/hero_m_img.png);
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 920px;
        
    }
    .nav_list{
        display: none;
    }
    .hero-text{
        position: absolute;
        left: 20px;
        top:652px;
    }
    .hero-text h1{
        font-size: 24px;
        line-height: 29px;
        color: #F2F2F2;
    }
    .hero-text p{
        font-size: 12px;
        line-height: 18px;
        color: #F2F2F2;

    }
    .hero-container .btn{
        margin-top: 14px;
        border:1px solid #fff;
        color: #fff;
        padding-top: 7px;
        padding-bottom: 7px;
        width: 177px;
        font-size: 18px;
        line-height: 22px;
    }
    .icons{
        display: none;
    }
    .icon_m{
        display: inline-block;
        position: absolute;
        top:37px;
        left: 20px;
    }
      
 /* About mobile */
section{
    padding: 0;
}
#about{
    height: 55vh;
    padding-bottom: 50px;
}
.about-image{
    margin-top: 40px;
    padding-left: 20px;
}

.about-text{
    margin-top: 48px;
    padding-right: 20px;
   
    
}
.about-text h3{
    justify-content: center;
    margin-bottom: 1.2rem;
    font-size: 1.5rem;
    line-height: 0.7rem;
}
.about-text p{
    font-size: 0.8rem;
    line-height: 0.85rem;
}
.paragraph-block{
    margin-bottom: 0.6rem;
}
 /* gallery mobile */
 .gallery-images{
    /* display: grid; */
    /* gap: 1rem; */
    place-items:center;
  }
}
 @media only screen and (min-width: 600px) and (max-width: 900px) {
    section{
        padding: 0 50px;
    }
    .nav_list{
        display: none;
    }
    .icon_m{
        display: inline-block;
        position: absolute;
        top:50px;
        left: 30px;
    }
    .about-image{
        margin-top: 50px;
        margin: 0 auto;
    }
    .hero-text{
        position: absolute;
        left: 40px;
        top:320px;
       
    }
    .icons{
        right: 50px;
    }
    #about{
        /* height: 110vh; */
        display: flex;
        flex-wrap: wrap;
    }
    .about-text{
     
        margin: 10px auto;
        justify-content: center;
        
    }
    .about-text h3{
        text-align: center;
        margin-bottom: 1.0rem;
        font-size: 1.6rem;
        line-height: 0.7rem;
    }
    .about-text p{
        font-size: 1.0rem;
        line-height: 1.2rem;
    }
    /* gallery */
    .gallery-images{
        display: grid;
        grid-template-columns:  1fr 1fr;
        gap: .5rem;
        place-items:center;
      }
  }  
/* <!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
    <title>Textarea element</title>
  </head>
  <body>
    <section id="overlay">
      <img src="https://content.codecademy.com/courses/web-101/unit-6/htmlcss1-img_burger-logo.svg" alt="Davie's Burgers Logo" id="logo">
      <hr>
      <form action="submission.html" method="POST">
        <h1>Create a burger!</h1>
					<section class="protein">
          <label for="patty">What type of protein would you like?</label>
    			<input type="text" name="patty" id="patty">
        </section>
        <hr>
        <section class="patties">
          <label for="amount">How many patties would you like?</label>
          <input type="number" name="amount" id="amount">
        </section>
        <hr>
        <section class="cooked">
          <label for="doneness">How do you want your patty cooked</label>
          <br>
          <span>Rare</span>
          <input type="range" name="doneness" id="doneness" value="3" min="1" max="5">
          <span>Well-Done</span>
        </section>
        <hr>
        <section class="toppings">
          <span>What toppings would you like?</span>
          <br>
          <input type="checkbox" name="topping" id="lettuce" value="lettuce">
          <label for="lettuce">Lettuce</label>
          <input type="checkbox" name="topping" id="tomato" value="tomato">
          <label for="tomato">Tomato</label>
          <input type="checkbox" name="topping" id="onion" value="onion">
          <label for="onion">Onion</label>
        </section>
        <hr>
        <section class="cheesy">
          <span>Would you like to add cheese?</span>
          <br>
          <input type="radio" name="cheese" id="yes" value="yes">
          <label for="yes">Yes</label>
          <input type="radio" name="cheese" id="no" value="yes">
          <label for="no">No</label>
        </section>
        <hr>
        <section class="bun-type">
          <label for="bun">What type of bun would you like?</label>
          <select name="bun" id="bun">
            <option value="sesame">Sesame</option>
            <option value="potatoe">Potato</option>
            <option value="pretzel">Pretzel</option>
          </select>
        </section>
        <hr>
        <section class="sauce-selection">
          <label for="sauce">What type of sauce would you like?</label>
          <input list="sauces" id="sauce" name="sauce">
          <datalist id="sauces">
            <option value="ketchup"></option>
            <option value="mayo"></option>
            <option value="mustard"></option>
          </datalist>
        </section>
        <hr>
        <section class="extra-info">
          <label for="extra">Anything else you want to add?</label>
          <br>
          <textarea id="extra" name="extra" rows="3" cols="40"></textarea>
        </section>
        <hr>

        <section class="submission">
          <!--Add your code below-->
          <input type="submit" value="Submit"> 
        </section>
        
      </form>
    </section>
  </body>
</html> */